@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title</h3>

<p>
    This is a simple MVC web application which has an input box and a submit button.
    Entering a valid number in the input and clicking submit should generate a list of all prime* numbers up to and including the number entered (this can just be displayed below the input).
    *a prime number cannot be divided by any numbers other than itself and 1.
</p>
